<!DOCTYPE html>
<html lang="en">

<head>
   <meta name="charset" content="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <title>Email Signup Form</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" type="text/css">
    <link rel="stylesheet" href="stylesheets/styles.min.css" type="text/css">
    <script async src="javascripts/scripts.min.js"></script>
</head>
<body>
    {{{body}}}
  </body>
</html>
